:root{
    background-color: aqua;
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1,
h2,
h3,
h4{
    margin-bottom: 1rom;

}

h1{
    font-size: 5.4rom;
    color: #56a5eb;
    margin-bottom: 5rom;
}